*{
    margin: 0 auto;
    padding: 0;
}

a{
    text-decoration: none;
}

ul li{
    list-style-type: none;
}

#login_box{
    width: 450px;
    height: 150px;
    border:solid 2px gray;
}

table{
    margin-top: 10px;
}

.mem a:hover{
    color: red;
}

#btn{
    width: 95px;
    height: 55px;
    background-color: chartreuse;
    border: solid 1px chartreuse;
}

.inph{
    height:25px;
}